# Advanced House Price - Feature Engineering

## We will be perfoming the following steps in Feature Engineering
- Missing Values
- Temporal Variables
- Categorical Variables: Remove rare labels
- Standize the values of the variable to some range

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train.shape,test.shape

((1460, 81), (1459, 80))

In [3]:
df=train.append(test)
df

C:\Users\HP\AppData\Local\Temp\ipykernel_7400\2111473829.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=train.append(test)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [4]:
# Always remember there is a chance of data leakage, we need to do the train test split
# In real life we will not get train and test data separately
# In kaggle , for good accuracy we combine both , once combine then we do the feature engineering
# Due to this there is a data leakage, some information is exchange between train and test
# then accuracy becomes better
# For real world problem , we have to do train test split
# Apply Feature Engineering for the train data and test data both
# That will reduce data leakage and over fitting
# Here we have train and test , So we will just import it
 

# First I will apply feature engineering on train data and then test data
# First we will combine then we will do

# Train and Test Data

# Missing Values

In [5]:
## Find the nan value
# Handle Categorical features which are missing
# which all category have nan value
features_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes=='O']
# Null value greater than 1

for feature in features_nan:
    print(" {} : {} % missing values".format(feature,np.round(df[feature].isnull().mean(),4)))

 MSZoning : 0.0014 % missing values
 Alley : 0.9322 % missing values
 Utilities : 0.0007 % missing values
 MasVnrType : 0.0082 % missing values
 BsmtQual : 0.0277 % missing values
 BsmtCond : 0.0281 % missing values
 BsmtExposure : 0.0281 % missing values
 BsmtFinType1 : 0.0271 % missing values
 BsmtFinType2 : 0.0274 % missing values
 Functional : 0.0007 % missing values
 FireplaceQu : 0.4865 % missing values
 GarageType : 0.0538 % missing values
 GarageFinish : 0.0545 % missing values
 GarageQual : 0.0545 % missing values
 GarageCond : 0.0545 % missing values
 PoolQC : 0.9966 % missing values
 Fence : 0.8044 % missing values
 MiscFeature : 0.964 % missing values

In [6]:
# Replace Missing value with new label
def replace_cat_feature(df,features_nan):
    data=df.copy()
    data[features_nan]=data[features_nan].fillna('Missing') # Fill the missing value with missing word
    return data

df=replace_cat_feature(df,features_nan)

df[features_nan].isnull().sum()

MSZoning        0
Alley           0
Utilities       0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
Functional      0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

In [7]:
df.head()# (check the PoolQC	Fence column ) for categorical column only

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,250000.0

In [8]:
# Now check the numerical variable that contain missing values
numerical_with_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes!='O']


# We will print the numerical nan variable and percentage of missing value

for feature in numerical_with_nan:
    print( " {} : {} % Missing value".format(feature,np.round(df[feature].isnull().mean(),4)))

 LotFrontage : 0.1665 % Missing value
 MasVnrArea : 0.0079 % Missing value
 BsmtFullBath : 0.0007 % Missing value
 BsmtHalfBath : 0.0007 % Missing value
 GarageYrBlt : 0.0545 % Missing value
 SalePrice : 0.4998 % Missing value

In [9]:
# Replacing the numerical missing values

for feature in numerical_with_nan:
    # We will replace the nan value with median value since there a outliers(EDA part)
    median_value=df[feature].median() # median calculation
    
    ## Create a new feature to capture nan values
    df[feature+'nan']=np.where(df[feature].isnull(),1,0) # If null then 1 other wis zero
    df[feature].fillna(median_value,inplace=True)
    
df[numerical_with_nan].isnull().sum()
# 69 is the median

LotFrontage     0
MasVnrArea      0
BsmtFullBath    0
BsmtHalfBath    0
GarageYrBlt     0
SalePrice       0
dtype: int64

In [10]:
df.head() # Last  column created

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,208500.0,0,0,0,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,181500.0,0,0,0,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,223500.0,0,0,0,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,140000.0,0,0,0,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,250000.0,0,0,0,0,0,0

In [11]:
# Before
df[['YearBuilt','YearRemodAdd','GarageYrBlt']].head()

   YearBuilt  YearRemodAdd  GarageYrBlt
0       2003          2003       2003.0
1       1976          1976       1976.0
2       2001          2002       2001.0
3       1915          1970       1998.0
4       2000          2000       2000.0

In [12]:
# Temporal Variable(Data time variable)
for feature in ['YearBuilt','YearRemodAdd','GarageYrBlt']:
    df[feature]=df['YrSold']-df[feature]
# For year sold the price was decreasing, so we will not consider
# we will find comparison between all the features and year sold

In [13]:
# After 
df[['YearBuilt','YearRemodAdd','GarageYrBlt']].head()
# Convert to how many years(difference)

   YearBuilt  YearRemodAdd  GarageYrBlt
0          5             5          5.0
1         31            31         31.0
2          7             6          7.0
3         91            36          8.0
4          8             8          8.0

In [14]:
# Transformation
# Numerical variable:- Since the numerical variable are skewed , we will perform log normal distribution
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,208500.0,0,0,0,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,181500.0,0,0,0,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,223500.0,0,0,0,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,140000.0,0,0,0,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,250000.0,0,0,0,0,0,0

In [15]:
# we will not take zero values
# In the features we will take only skewed value which we have seen in EDA

import numpy as np
nan_features=['LotFrontage','LotArea','1stFlrSF','GrLivArea','SalePrice']

# Apply log to the features o convert to gaussian distribution

for feature in nan_features:
    df[feature]=np.log(df[feature])

In [16]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,60,RL,4.174387,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,12.247694,0,0,0,0,0,0
1,2,20,RL,4.382027,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,12.109011,0,0,0,0,0,0
2,3,60,RL,4.219508,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.317167,0,0,0,0,0,0
3,4,70,RL,4.094345,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,11.849398,0,0,0,0,0,0
4,5,60,RL,4.430817,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.429216,0,0,0,0,0,0

# Handle Rare Categorical Feature
we will remove categorical variable that are present less than 1% of the observation

In [17]:
# Which ever feature will have less than 1 % Of the observation , we are going to convert that into new label
Categorical_features=[feature for feature in df.columns if df[feature].dtype=='O']

In [18]:
Categorical_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [19]:
# Find the percentage of each and every category considering the entire data set
for feature in Categorical_features:
    temp=df.groupby(feature)['SalePrice'].count()/len(df)
    temp_df=temp[temp>0.01].index
    df[feature]=np.where(df[feature].isin(temp_df),df[feature],'Rare_var')
# 2- Based on grouping I am going to take the sales price, I am going to find the number of records, divide , then we will get the percentage value
# 3- If the temp value is greater , then only I will take the index
# 4- if the df[feature is in temp_df ], then I will take that feature, If It is not Then it is a rare feature(new Label)

In [20]:
df.groupby(feature)['SalePrice'].count()/len(df)

SaleCondition
Abnorml     0.065091
Family      0.015759
Normal      0.822885
Partial     0.083933
Rare_var    0.012333
Name: SalePrice, dtype: float64

In [21]:
temp[temp>0.01].index

Index(['Abnorml', 'Family', 'Normal', 'Partial'], dtype='object', name='SaleCondition')

In [22]:
df.head(95)
# MSZoning-Rare_var(new label)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,60,RL,4.174387,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,2008,WD,Normal,12.247694,0,0,0,0,0,0
1,2,20,RL,4.382027,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,12.109011,0,0,0,0,0,0
2,3,60,RL,4.219508,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.317167,0,0,0,0,0,0
3,4,70,RL,4.094345,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,2006,WD,Abnorml,11.849398,0,0,0,0,0,0
4,5,60,RL,4.430817,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,2008,WD,Normal,12.429216,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,91,20,RL,4.094345,8.881836,Pave,Missing,Reg,Lvl,AllPub,...,2006,WD,Normal,11.607326,0,0,0,0,0,0
91,92,20,RL,4.442651,9.047821,Pave,Missing,Reg,Lvl,AllPub,...,2006,WD,Abnorml,11.498827,0,0,0,0,0,0
92,93,30,RL,4.382027,9.500020,Pave,Grvl,IR1,HLS,AllPub,...,2009,WD,Normal,12.004568,0,0,0,0,0,0
93,94,190,Rare_var,4.094345,8.881836,Pave,Missing,Reg,Lvl,AllPub,...,2007,WD,Normal,11.804849,0,0,0,0,0,0
94,95,60,RL,4.234107,9.141740,Pave,Missing,IR1,Lvl,AllPub,...,2007,WD,Normal,12.229545,0,0,0,0,0,0

In [23]:
# Convert categorical variable to numerical variable
for feature in Categorical_features:
    labels_ordered=df.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={ k :i for i , k in enumerate(labels_ordered,0)}
    df[feature]=df[feature].map(labels_ordered)
    
    
# 2 - We will calculate the mean of the categories with the help of sales price, sort the value , take the index
# 3 - It assign index number inplace of word , starting from zero
# 4 - we will insert the value using map

In [24]:
labels_ordered

{'Abnorml': 0, 'Rare_var': 1, 'Family': 2, 'Normal': 3, 'Partial': 4}

In [25]:
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,60,2,4.174387,9.041922,1,2,0,1,1,...,2008,2,3,12.247694,0,0,0,0,0,0
1,2,20,2,4.382027,9.169518,1,2,0,1,1,...,2007,2,3,12.109011,0,0,0,0,0,0

 ## Feature Scaling

In [26]:
# We will be taking only min max scaler 
# I will not perform on Id and Sales Price
feature_scale=[feature for feature in df.columns if feature not in ['Id','SalePrice']]

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(df[feature_scale])

MinMaxScaler()

In [28]:
# We get an array as an output
scaler.transform(df[feature_scale])

array([[0.23529412, 0.66666667, 0.41820812, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.66666667, 0.49506375, ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.66666667, 0.434909  , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.66666667, 0.75162522, ..., 0.        , 0.        ,
        1.        ],
       [0.38235294, 0.66666667, 0.40071794, ..., 0.        , 1.        ,
        1.        ],
       [0.23529412, 0.66666667, 0.46620707, ..., 0.        , 0.        ,
        1.        ]])

In [29]:
# the above array needs to be converted to a data frame
fd=pd.concat([df[['Id','SalePrice']].reset_index(drop=True),
                 pd.DataFrame(scaler.transform(df[feature_scale]),
                columns=feature_scale)],axis=1)

In [30]:
fd

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan,SalePricenan
0,1,12.247694,0.235294,0.666667,0.418208,0.366344,1.0,1.0,0.000000,0.333333,...,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
1,2,12.109011,0.000000,0.666667,0.495064,0.391317,1.0,1.0,0.000000,0.333333,...,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
2,3,12.317167,0.235294,0.666667,0.434909,0.422359,1.0,1.0,0.333333,0.333333,...,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
3,4,11.849398,0.294118,0.666667,0.388581,0.390295,1.0,1.0,0.333333,0.333333,...,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0,0.0,0.0,0.0
4,5,12.429216,0.235294,0.666667,0.513123,0.468761,1.0,1.0,0.333333,0.333333,...,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,12.001505,0.823529,0.333333,0.000000,0.077946,1.0,1.0,0.000000,0.333333,...,0.454545,0.00,0.666667,0.75,0.0,0.0,0.0,0.0,1.0,1.0
2915,2916,12.001505,0.823529,0.333333,0.000000,0.073654,1.0,1.0,0.000000,0.333333,...,0.272727,0.00,0.666667,0.00,0.0,0.0,0.0,0.0,0.0,1.0
2916,2917,12.001505,0.000000,0.666667,0.751625,0.534967,1.0,1.0,0.000000,0.333333,...,0.727273,0.00,0.666667,0.00,0.0,0.0,0.0,0.0,0.0,1.0
2917,2918,12.001505,0.382353,0.666667,0.400718,0.407753,1.0,1.0,0.000000,0.333333,...,0.545455,0.00,0.666667,0.75,0.0,0.0,0.0,0.0,1.0,1.0
2918,2919,12.001505,0.235294,0.666667,0.466207,0.391866,1.0,1.0,0.000000,0.333333,...,0.909091,0.00,0.666667,0.75,0.0,0.0,0.0,0.0,0.0,1.0

In [31]:
x=fd.iloc[:,:-1]
y=fd.iloc[:,-1]

In [32]:
#train Test split
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(
x, y, test_size=0.50, random_state=0)

In [33]:
x_train.shape,x_test.shape

((1459, 86), (1460, 86))

In [34]:
# we will take only the test data
x_test=x_test.drop('SalePrice',axis=1)
x_test.shape

(1460, 85)

In [35]:
# Saving
x_test.to_csv('x_test_final.csv',index=False)

In [36]:
x_train.to_csv('x_train_final.csv',index=False)